fastapi
uvicorn
moviepy
requests
python-multipart
pydantic
python-dotenv
edge-tts
pillow
groq
openai-whisper
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
git+https://github.com/openai/CLIP.git